body, #hone,{
    background-color: rgba(249, 153, 8, 0.899);
}
#hone{
    background-color: rgba(35, 210, 210, 0.988);
}
h1{
    color: rgb(22, 20, 20);
}
#h2{
    color:  rgb(29, 17, 17);
    text-align:center;
    font-size: 20pt;
}
#p1{
    font-size: 12pt;
    text-align:center;
    color: rgb(0, 0, 0);
}
#nav1{
    background-color: rgb(33, 167, 201) ;
    
}
#p2{
    color: rgb(98, 17, 238);
    font-size: 20pt;
    text-align:center;
    font-family: monospace;
}
#p3{
    text-align: center;
    color: rgb(35, 48, 163);
}
#hr1{
width: 550pt;
}
#img1{
    position:static;
    
    width: 300px;
}
#hb2{
    text-align: center;
    size: +1;
    color: rgb(226, 141, 43);
}
#pbody1{
    text-align: justify;
    font-size:12pt;
    color: rgb(0, 0, 0);
}
#imgnevado{
    position: static;
    width: 1000px;
    height: 300px;
}
#hbody{
    text-align: center;
    text-decoration: underline;
    color:rgb(30, 204, 181) ;
    font-size: 30pt;
}
#pb2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14pt;
}
#main1{
    background-color: rgb(151, 75, 75);
}
#carroh2{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 20pt;
text-decoration: underline;
}
#carroimg{
    border-image: auto;
    width: 800pt;    
}
#pSpoty{
    font-size: 15pt;

}
#Cancion{
align-items: self-start; 
max-width: 500px;
}