body{
    background-color: rgba(255, 255, 255, 0.607);
}
h1{
    color: red;
}
#h2{
    color:  rgb(0, 0, 0);
    text-align:center;
}
#p1{
    font-size: 12pt;
    text-align:center;
    color: rgb(198, 95, 17);
}
#p2{
    color: rgb(98, 17, 238);
    font-size: 20pt;
    text-align:center;
    font-family: monospace;
}
#p3{
    text-align: center;
    color: rgb(35, 48, 163);
}
#hr1{
width: 550pt;
}
#img1{
    position:static;
    
    width: 300px;
}
#hbody{
    text-align: right;
    size: +1;
}
#pbody{
    text-align: justify;
    font-size:12pt;
    color: rgb(0, 0, 0);
}
#imgnevado{
    position: static;
    width: 450px;
}
#hbody{
    text-align: center;
    text-decoration: underline;
    color: rgb(171, 9,211);
    font-size: 30pt;
}
#pb2{
    font-size: medium;
    text-align: center;

}